html {
    height: 100%;
    width: 100%;
    font-family: "Lucida Console";
    background-color: #F8F6E3;
}

body {
    margin:0px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


div#game {
    width: 100vh;
    height: 70vh;
    display: flex;
    flex-direction: row;
    border: 3px solid #2f2f2f;
}

/* board */
#boardDiv {
    display: flex;
    flex-basis: 70%;
}

#board {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div.board {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-basis: 12.5%;
    flex-direction: row;
}

div.board {
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
}

img {
    object-fit: contain;
    width: 100%;
}

/* stats */
#statsDiv{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    position: relative;
}

#timer {
    position: absolute;
    font-size: 3vh;
    bottom: 3vh;
}

/* pieces */
#piece {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    /* width: 15%; */
}

div.pieces {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.cpiece {
    border: 0px;
    border-collapse: collapse;
}

/* table.pieces {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

tr.pieces {
    height: 12.5%;
    width: auto;
}

td.pieces {
    height: max-content;
    flex-grow: 1;
    text-align: center;
    padding: 0;
} */

/* table.cpiece {
    margin: 0px auto;
}

td.cpiece {
    height: auto;
    width: 20%;
    padding: 0px;
} */

/* words */
h3 {
    font-size: 3vh;
    margin: 0px;
}

p {
    margin: 0.5vh;
    font-size: 2vh;
}

.FloatingCombatText {
    position: absolute;
    z-index: 2;
    margin-left: -10%;
    font-size: 1rem;
    animation: up 3s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-iteration-count: 1;
    transform-origin: center;
}

/* animation */
@keyframes up {
    0% {
      transform: scale(0) translateY(0%);
      opacity: 0;
    }
    10% {
      opacity: 1;
      transform: scale(1) translateY(-50%);
    }
    100% {
      transform: translateY(-100%) rotateZ(15deg);
      opacity: 0;
    }
}

div.pieces:hover {
    background-color: #fe8686;
}

/* border */
.panel {
    outline: 1px solid black;
}
.board,
.pieces {
    outline: 1px solid #2f2f2f;
    border-collapse: collapse;
}


/* final pages */
#win {
    height:100%;
    width: auto;
}

#lose{
    height:100%;
    width: auto;
}

#retry{
    position: absolute;
    top:90%;
    z-index: 1;
}
